Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@2.0.10/data~/payload.tar.7z
Temp/FSTimeGet-02668e406574ab34d8c1791d1c0b80db
Temp/FSTimeGet-0efa2494f6a1f2c41b9ca9bc1e6be9ba
Temp/FSTimeGet-90913bf346434b244a19543ba0307bcf
Temp/UnityLockfile
Temp/FSTimeGet-3d947a9c05366014db4ae363da9a7f23
Temp/FSTimeGet-7bcebf1d60422904d87beee07bde0e2d
Temp/FSTimeGet-9a4cc814b35f82343b0d18bafff83057
Temp/FSTimeGet-02668e406574ab34d8c1791d1c0b80db
Temp/FSTimeGet-0efa2494f6a1f2c41b9ca9bc1e6be9ba
Temp/FSTimeGet-90913bf346434b244a19543ba0307bcf
*.db
Library/ArtifactDB
Library/Search/transactions.db
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.log
*.db
Library/ArtifactDB
Library/Search/transactions.db
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Library/ArtifactDB
Library/Search/transactions.db
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Temp/FSTimeGet-04e354f51db00ca4b83315ada1231cf2
Temp/FSTimeGet-655d93f90b1b2a64e9c2737a67c3849c
Temp/FSTimeGet-c92fb524c59a8ef4baec2a5c7f51f517
